main {
    width: 100vw;
    height: 83vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.container_page_details {
    width: 65%;
    height: 70%;
    border: 2px solid #374BA4;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container_img_details {
    background-color: white;
    border-radius: 11px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.image_details {
    width: 90%;
    height: 80%;
    border-radius: 6px;
    box-shadow: 10px 10px 5px 0px rgba(145,145,145,0.75);
}

.containter_dscription_details {
    width: 50%;
    height: 100%;
    background-color: #374BA4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item_title_detils {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: 'Fjalla One', sans-serif;
    color: #DC046C;
    text-shadow: 0px 2px 3px rgba(240, 236, 236, 0.498);
    font-size: 4.5vw;
}

.item_description_details {
    width: 100%;
    min-width: 50%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    
}

 section p{
    font-size: 1.5vw;
    color: white;
    margin-left: 10px;
}