body{
    padding-bottom: 15vh;;
    min-height: 100vh;
    position: relative;
}

.header {
    width: 100vw;
    height: 27vh;
    background-image: url(../Images/fiesta.jpg);
   background-size: 1000px;
   background-position: 50px, 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color:white;
}

h1 {
    text-shadow: 0px 2px 3px rgba(31, 28, 28, 0.58);
    font-size: 50px;
}

.arrows {
    padding: 2%;
    text-shadow: 0px 2px 3px rgba(31, 28, 28, 0.58);
}


.material-symbols-outlined {
    color: #D42C8C;
}

.material-symbols-outlined:hover {
    color: #374BA4;
}

.container_searches {
    width: 100vw;
    height: 7vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
}

.container_filter {
    width: 80%;
    height: 4vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: 100%;
}

.item_check {
    cursor: pointer;
}

.container_search {
    width: 20%;
    height: 4vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #D42C8C;
}

.item_search {
    width: 70%;
}

label {
    font-size: 100%;
}

.section{
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 18px;
    
}

.ul{
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: start;
}

.card_container {
    border-radius: 6px;
    width: 280px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 2px 3px 20px 1px rgba(55, 75, 164, 0.6);
    margin-bottom: 3%;
    margin-top: 1%;
}

.img_pages {
    width: 250px;
    box-shadow: 4px 6px 6px -2px rgba(107, 107, 107, 0.75);
}

.item_image {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.item_description {
    width: 95%;
    height: 30%;
    margin-bottom: 4px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    
}

.item_details {
    width: 100%;
    height: 12%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


h4 {
    font-size: 25px;
    font-family: 'Fjalla One', sans-serif;
}

h1,
h4,
p {
    cursor: default;
}

.button_index {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #DC046C;
    color: white;
    border: 1px solid #DC046C;
    border-radius: 4px;
    padding: 3px;
    font-size: 13px;
    font-weight: bold;
    height: 60%;
    box-shadow: 0px 5px 12px 2px rgba(93, 55, 164, 0.89)
}

.button_index:hover {
    background-color: #703fc0;
    border: 1px solid #703fc0;
    cursor: pointer;
}