* {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
    font-family: 'Raleway', sans-serif;
}

nav {
    width: 100vw;
    height: 12vh;
    background-color: rgb(14, 14, 14);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.logo_container {
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.item_logo {
    height: auto;
    width: 70%;
}

.nav_container {
    width: 77vw;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
}

.navlink {
    color: white;
}

nav ul {
    width: 70%;
    height: 100%;
    font-size: 1.3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

nav ul li::before,
nav ul li::after {
    content: ' ';
    border-bottom: 2px solid #D42C8C;
    position: absolute;
    opacity: 0;
    transition: 0.3s;
}


nav ul li::before {
    bottom: -1px;
    width: 90%;
    right: 0;
}

nav ul li::after {
    bottom: -5px;
    width: 70%;
    left: 0;
}

.active::before,
nav ul li:hover:before {
    width: 70%;
    opacity: 1;
}

.active::after,
nav ul li:hover::after {
    width: 50%;
    opacity: 1;
}

nav ul li {
    border-radius: 2px;
    padding: 3px;
    color: white;
    position: relative;
}

footer {
    width: 100vw;
    height: 12vh;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    border-top: 0.5px solid #8167a9;
    color: white;
}

.item_icons {
    font-size: 25px;
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

footer>div>ul {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgba(14, 14, 14, 0.459);
    bottom: 0;
}

a .fa-brands{
    color: rgba(14, 14, 14, 0.459);
}


a .fa-brands:hover {
    color: #8167a9;
    cursor: pointer;

}

.item_copyright {
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-left: 2%;
    color: rgb(14, 14, 14);
    font-size: 10px;
}


#buttonform {
    color: white;
    background-color: #DC046C;
    border-radius: 5px;
    border: 0px;
    padding: 4px;
    font-weight: bold;
    box-shadow: 0px 5px 5px 2px #8167a9
}

#buttonform:hover {
    background-color: #8167a9;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .nav_container {
        width: 80vw;
    }

    nav ul {
        font-size: 0.7rem;
    }

    .logo_container {
        width: 17vw;
    }

    .item_logo {
        width: 90%;
        padding-left: 15px;
    }

    .item_copyright {
        width: 55%;
        padding-right: 10px;
    }

    .item_icons {
        width: 45%;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .nav_container {
        width: 80vw;
    }

    nav ul {
        font-size: 50%;
    }

    .logo_container {
        width: 17vw;
    }

    .item_logo {
        width: 90%;
        padding-left: 15px;
    }

    .item_copyright {
        width: 55%;
        padding-right: 10px;
    }

    .item_icons {
        width: 45%;
    }
}