*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
    font-family: 'Raleway', sans-serif;
}

nav{
    width: 100vw;
    height: 10vh;
    background-color: #374BA4   /* #038C7E #25616F*/;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.logo_container{
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.item_logo{
    width: 70%;
    height: auto;
}


.nav_container{
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.item_active{
    background-color:#BF4086;
    color: white;
}

.item_active:hover{
    cursor: default;
    color: #F4E7DD;

}

nav ul{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.6vw;
}

nav ul li{
    border-radius: 2px;
    background-color: rgb(220, 4, 108);
    padding: 3px;
    text-decoration: none;
}

nav ul li:hover{
    background-color: #BF4086;
    color: white;
    cursor: pointer;
}

.link_nav{
    color: #374BA4;
}

footer {
    width: 100vw;
    height: 7vh;
    background-color: #F0DDF4;
    display: flex;
    flex-direction: row;
    position: relative;
}

.item_icons {
    width: 15%;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer>div>ul {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #DC046C;
    text-shadow: 0px 1px 2px rgba(31, 28, 28, 0.58);

}

ul .fa-brands:hover {
    color: #374BA4;
    cursor: pointer;
}

.item_copyright {
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2%;
    color: #DC046C;
    text-shadow: 0px 1px 2px rgba(31, 28, 28, 0.58);
}

footer p {
    font-family: 'Fjalla One', sans-serif;
}

button{
    color: white;
    background-color: #DC046C;
    border-radius: 2px;
    border: 0px;
    padding: 4px;
    font-weight: bold;
    box-shadow: 0px 5px 12px 2px rgba(55, 75, 164, 0.89)
}

button:hover {
    background-color: #374BA4;
    cursor: pointer;
}

